---
const currentUrl = Astro.request.url;
import { Icon } from "astro-icon";

const shareLinks = [
  {
    name: "Twitter",
    url: `https://twitter.com/intent/tweet?text=${currentUrl}`,
    icon: "mdi:twitter",
  },
  {
    name: "LinkedIn",
    url: `https://www.linkedin.com/shareArticle?mini=true&url=${currentUrl}`,
    icon: "mdi:linkedin",
  },
  {
    name: "Reddit",
    url: `https://reddit.com/submit?url=${currentUrl}`,
    icon: "mdi:reddit",
  },
  {
    name: "Facebook",
    url: `https://www.facebook.com/sharer/sharer.php?u=${currentUrl}`,
    icon: "mdi:facebook",
  },
  {
    name: "Email",
    url: `mailto:?subject=Check out this article!&body=${currentUrl}`,
    icon: "heroicons-outline:at-symbol",
  },
];
---

<ul class="flex flex-col gap-4 border rounded-full border-gray-300 p-4">
  {
    shareLinks.map((link) => {
      return (
        <li class="">
          <a href={link.url} target="_blank" rel="noopener noreferrer">
            <Icon
              class="h-8 w-8 text-gray-400 hover:text-gray-700"
              name={link.icon}
            />
            <span class="sr-only">{link.name}</span>
          </a>
        </li>
      );
    })
  }
</ul>
